/* Bootstrap 読み込み（最優先で上に置く）*/
@import "bootstrap/dist/css/bootstrap.min.css";

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Blade / JS の監視対象（Vite用）*/
@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";
@source "../../storage/framework/views/*.php";
@source "../**/*.blade.php";
@source "../**/*.js";

/* Tailwind 用のテーマ（任意）*/
@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
